@use "../theme/var";

.trade_builder {
  &_card {
    padding: 1.25rem;
    background: var.$gradientcardblue;
    border: 2px solid var.$baseclr;
    border-radius: 1.25rem;

    @media screen and (max-width: 991px) {
      padding: 1rem;
    }

    &.greengrandient {
      border: 0;

      .trade_builder_card_head_btnArrow {
        svg {
          path {
            fill: var.$white !important;
          }
        }
      }

      svg {
        path {
          fill: var.$yellow !important;
        }
      }
    }

    &_head {
      position: relative;
      margin-bottom: 40px;

      &_btnArrow {
        position: absolute;
        top: 10px;
        right: 1.25rem;
        width: 48px;
        height: 48px;
        border-radius: 10rem;
        border: 0;
        background-color: var.$baseclr;
        display: flex;
        align-items: center;
        justify-content: center;

        @media screen and (max-width: 1199px) {
          width: 40px;
          height: 40px;
          top: 0;
        }

        @media screen and (max-width: 991px) {
          width: 30px;
          height: 30px;
        }

        svg {
          transition: all ease-in-out 0.3s;

          @media screen and (max-width: 1199px) {
            width: 20px;
          }

          @media screen and (max-width: 991px) {
            width: 15px;
          }
        }

        &:hover {
          background-color: var.$baseclrhover;

          svg {
            transform: rotate(180deg);
          }
        }
      }
    }

    &_body {
      &_box {
        margin-bottom: 1.25rem;

        h5 {
          background-color: var.$clr04498C;
          padding: 14px 15px;
          font-weight: 700;
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
          color: var.$white;
          line-height: normal;
          display: flex;
          justify-content: space-between;
          text-transform: uppercase;

          @media screen and (max-width: 991px) {
            font-size: 12px;
            padding: 10px 10px;
          }

          .subTooltip {
            text-transform: none;
          }
        }

        .card {
          background-color: var.$white;
          padding: 14px 15px;
          border-bottom-left-radius: 10px;
          border-bottom-right-radius: 10px;
          color: var.$black;
          font-weight: 700;
          margin: 0;
          line-height: normal;

          @media screen and (max-width: 991px) {
            font-size: 18px;
            padding: 10px 10px;
          }
        }
      }

      &_note {
        h5 {
          margin-bottom: 10px;
        }

        .note_box {
          background-color: rgba($color: var.$white, $alpha: 0.2);
          border-radius: 15px;
          padding: 1.25rem;

          p {
            font-size: 1.125rem;
            font-weight: 500;
            line-height: 27px;
            margin-bottom: 0.625rem;

            &:last-child {
              margin-bottom: 0;
            }
          }
        }
      }
    }

    .trade_manager_trade_entry_box {
      padding: 0 10px;
      justify-content: flex-start;

      .green_arrow {
        svg {
          path {
            fill: var.$green !important;
          }
        }
      }
    }
  }
}

.trade_head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
  position: relative;

  @media screen and (max-width: 991px) {
    justify-content: unset;
  }

  .common_heading {
    h2 {
      @media screen and (max-width: 1599px) {
        font-size: 35px;
      }

      @media screen and (max-width: 1279px) {
        font-size: 28px;
      }
    }
  }

  &_title {
    display: flex;
    flex-wrap: wrap;

    @media screen and (max-width: 767px) {
      justify-content: center;
      margin-top: 20px;
    }

    h4 {
      margin-right: 10px;
      margin-bottom: 10px;

      @media screen and (max-width: 1599px) {
        font-size: 18px;
        line-height: normal;
      }
    }
  }

  .head_draft {
    p {
      margin-bottom: 5px;
    }

    svg {
      width: 20px;
      height: 20px;
      margin-right: 5px;
    }
  }

  &_btns {
    justify-content: flex-end;

    @media screen and (max-width: 767px) {
      margin-top: 22px;
      display: flex;
      justify-content: center;
    }

    .btn-style {
      text-transform: capitalize;
      min-width: 100px;
      min-height: 55px;
      font-size: 1.25rem;

      @media screen and (max-width: 1499px) {
        min-width: auto;
        font-size: 16px;
        padding: 5px 25px;
      }

      @media screen and (max-width: 1279px) {
        min-width: auto;
        min-height: 45px;
        font-size: 14px;
        padding: 5px 15px;
      }

      @media screen and (max-width: 991px) {
        min-width: auto;
        width: 33.33%;
      }
    }
  }
}
